__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.others
.backups
project_folderstructure_scanner.py
*.zip
*.rar
characters/
documents/
# Poetry
poetry.lock

# Logs
logs/
*.log

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# IDEs
.vscode/
.idea/
.DS_Store

# Database
*.db
*.sqlite
*.sqlite3
