__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/
.others
.backups
project_folderstructure_scanner.py
*.zip
*.rar
documents/
old_system/
# Poetry
poetry.lock
dist/
build/

# Logs
logs/
*.log

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# IDEs
.vscode/
.idea/
.DS_Store

# Database
*.db
*.sqlite
*.sqlite3

# Test coverage
.coverage
htmlcov/
coverage.xml
coverage.json
*.cover

# MkDocs
site/

# GitHub Actions
.github/

#text extractor subproject
Text_extractor/